*{
    margin: 0;
}
header{
    background:rgb(203, 230, 221);
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: solid 1px rgb(190, 214, 206);;
}
header div{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
body{
    overflow-x: hidden;
}
h3{
    background: rgb(204, 228, 217);
    padding: 2px;
    margin:8px 0px;
}

#logo_img{
    width: 100px;
    height: 70px;
    margin: 12px;
}
#div_1{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#div_1 p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
    color: rgb(89, 123, 151);
}
#div_2{
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#div_2 ul{
    display: flex;
    padding: 0;
}

#div_3{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#div_3 div{
    padding: 3px 9px;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
}

.imagen{
    float: inline-end;
}

article{
    background: rgb(239, 248, 244);
    text-align: justify;
    margin: 12px 30px;
    padding: 11px 12px;
}


#buscar{
    background-color: white;
    border: 0;
    width: 110px;
}
#buscar::placeholder{
    color: rgb(104, 104, 104);
}

nav ul li a{
    text-decoration: none;
    border-radius: 12px;
    padding: 6px;
    color: rgb(26, 71, 112);
}

.menu li a:hover{
    color:rgb(255, 255, 255) ;
    background-color: rgb(170, 219, 205);
    border: solid 1px rgb(165, 209, 197);
    transition: all .4s;
}

/*Submenu*/

/*Footer*/

footer{
    text-align: center;
    background: rgb(203, 230, 221);
    border:solid 1px rgb(193, 218, 209);
}
footer div ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer div ul li{
    padding: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.foot, ul{
    text-decoration: none;
    list-style: none;
    color: rgb(36, 25, 25);
}
.foot:hover{
    color: rgb(15, 59, 255);
    transition: all .4s;
}