/*a{
    text-decoration:none ;
    color: black;
}
a:hover {
    color: blue;
  }
*/
header{
    background:#29b6f6;
    border: solid black 1px;
    margin: 0px 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
}
h3{
    text-align: left;
    background: rgb(204, 228, 217);
    width: 100%;
    
}

.imagen{
    float: inline-end;
}

article{
    background: rgb(239, 248, 244);
    text-align: justify;
    margin: 12px 30px;
    padding: 11px 12px;
}

main{
    background:ed ;
    
}

#buscar{
    text-align: right;
    color: white;
}

.navegacion{
    width: 100%px;
    margin:  0px 30px;
    background: rgb(85, 108, 150);
}
.navegacion ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu>li{
    position: relative;
    display: inline-block;
}

.menu>li>a{
    display: block;
    padding: 12px 12px;
    color: white;
    text-decoration: none;
    
}
.menu li a:hover{
    color:rgb(255, 255, 68) ;
    transition: all .3s;
}
/*Submenu*/
.submenu{
    position: absolute;
    background: rgb(76, 98, 138);
    display: none;
    width: 100%;
    text-align: center;
    
}
.submenu li a{
    display: block;
    padding: 10px 10px;
    color: white;
    text-decoration: none;
    border: solid rgb(103, 133, 189) 1px;
}
.menu li:hover .submenu{
    display: block;
}

footer{
    text-align: center;
    background: rgb(130, 167, 149);
    padding: 1px 0px;
    margin: auto 30px;
    border: solid rgb(130, 138, 134) 1px;
}
.foot, ul{
    text-decoration: none;
    list-style: none;
    color: rgb(36, 25, 25);
}
#lista2 li{
    position: relative;
    display: inline-block;
    margin: 1px 12px;  
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}


.foot:hover{
    color: blue;
}